<div class="d-flex flex-wrap text-center overflow-scroll">
    <% for (course of courses){%>
        <li> 
            <a href="/schedule/remove/<%= course._id %>">X</a>
            <%= course['subject'] %>
            <%= course.coursenum %>
            <%= course.name %>
            <%= course.term %>
            
        </li>
        <li>
        Enrollment: <%=course.enrolled %>,
        Limit: <%=course.limit || 999 %>,
        Waitlist: <%= course.waiting %>
        </li>
    <% } %>
</div>

<!--
    <pre>
        <%= JSON.stringify(courses,null,5) %>
    </pre>
-->